@import url("../../global/fixed.css");

body {
    background-image: url("https://ludopedio.org.br/wp-content/uploads/roleta-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 30vw;
    margin: 18vh auto 18vh auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.roleta-card {
    background-color: #222;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 20, 235, 0.5);
    text-align: center;
}

select, input, button {
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    background-color: rgba(255, 20, 235, 0.5);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ffd700;
}

.roleta {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #ffd700;
}

.resultado {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #00ff99;
}