body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 100%;
    margin: 0;
}

.home {
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10%;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    position: relative;
}

.home img {
    width: 60px;
    padding: 20px;
}

.home h1{
    justify-content: center;
    position: static;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.botoesHome {
    width: 50vh;
    justify-content: right;
    position: right;
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    margin: 10px;
}

.rodaPe {
    background-color: rgb(22,22,22);
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}