@import url("../../global/fixed.css");

.banner {
    width: 80%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20231228/pngtree-seamless-vector-texture-golden-coins-and-green-dollar-banknotes-falling-in-image_13919138.png');
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: white;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.4);
    margin: 20px auto 0px auto;
}

.banner h1{
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: white;    
}

.banner button{
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: white;    
}

.tituloJogos{
    justify-content: center;
    display: flex;
    align-items: center;
}

.tituloJogos h1 {
    margin: 20px 0px 10px 0px;
    justify-content: center;
    color: rgb(214, 238, 0);
}

.jogos {
    width: 80%;
    display: flex;
    ;
    align-items: center;
    border-radius: 30px;
    margin: 0px auto 0px auto
}

.jogos a{
    background-color: rgb(22, 22, 22);
    width: 30%;
    text-align: center;
    border-radius: 20px;
    margin: auto
}

.jogos img {
    margin-top: 10px;
    padding: 5px;
    width: 20vw;
    max-width: 100%;
    border-radius: 20px;
}

.jogos h1{
    text-decoration: none;
    font: weight 100vh;
    justify-content: center;
    color: rgb(240, 255, 103);
}

.jogos p{
    text-decoration: none;
    font: weight 100vh;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}