@import url(../../global/fixed.css);

.cadastro-box {
    width: 25vw;
    margin: 18vh auto 18vh auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.cadastro-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cadastro-box label {
    display: block;
    margin-bottom: 5px;
    margin: 10px;
    text-align: left;
    font-size: 14px;
    color: #bbb;
}

.cadastro-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.cadastro-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #676767;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}